<?xml version="1.0"?>
<sdf version="1.12" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="hardware_type" default="gz_sim" />

  <ros2_control name="VarioBotHardwareSystem" type="system">
    <xacro:if value="${'$(arg hardware_type)' == 'gz_sim'}">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
    </xacro:if>
    <xacro:if value="${'$(arg hardware_type)' == 'real'}">
      <hardware>
        <plugin>joint_state_topic_hardware_interface/JointStateTopicSystem</plugin>
        <param name="joint_commands_topic">/variobot_mcu/joint_commands</param>
        <param name="joint_states_topic">/variobot_mcu/joint_states</param>
        <param name="trigger_joint_command_threshold">-1</param>
      </hardware>
    </xacro:if>
    <joint name="front_left_coupling_joint">
      <command_interface name="velocity">
        <param name="min">-31.41</param>
        <param name="max">31.41</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="front_right_coupling_joint">
      <command_interface name="velocity">
        <param name="min">-31.41</param>
        <param name="max">31.41</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="rear_left_coupling_joint">
      <command_interface name="velocity">
        <param name="min">-31.41</param>
        <param name="max">31.41</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
    <joint name="rear_right_coupling_joint">
      <command_interface name="velocity">
        <param name="min">-31.41</param>
        <param name="max">31.41</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>

  <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
    <parameters>$(find variobot_control)/config/controller_manager_config.yaml</parameters>
    <parameters>
      $(find
      variobot_control)/config/mobility_systems/mecanum_drive/48mm_n20_mecanum_drive/controllers_config.yaml
    </parameters>
    <parameters>
      $(find
      variobot_control)/config/mobility_systems/mecanum_drive/48mm_n20_mecanum_drive/sim_controllers_config.yaml
    </parameters>
  </plugin>
</sdf>
