<?xml version="1.0"?>
<sdf version="1.11" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <joint name="" type="fixed">
    <pose relative_to="base_link" />
    <parent>base_link</parent>
    <child>mecanum_base_link</child>
  </joint>

  <link name="mecanum_base_link">
    <pose relative_to="mecanum_base_joint"/>
      <visual name="mecanum_base_visual">
        <geometry>
          <mesh>
            <uri>package://vario_description/meshes/:.dae</uri>
          </mesh>
        </geometry>
      </visual>
  </link>
</sdf>
