<?xml version="1.0"?>
<sdf version="1.11" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <model name="variobot" canonical_link="base_link">
    <link name="base_link">
      <must_be_base_link>true</must_be_base_link>
    </link>

    <xacro:include
      filename="mobility_systems/mecanum_drive/48mm_n20_mecanum_drive/48mm_n20_mecanum_drive.sdf.xacro" />
  </model>
</sdf>
